body {
    background: lightgrey;
    box-sizing: border-box;
}

.wrapper {
    background: #83b799;
    width: 600px;
    height: auto;
    margin: 100px 0;
    text-align: center;
    font-family: sans-serif;
    padding: 15px;
    border: 10px solid #E86F68;
    border-radius: 5px;
}

p {
    line-height: 0.5;
    font-size: 1.4rem;
}

.completed {
    text-decoration: line-through;
}

input {
    padding: 15px;
    width: 300px;
}

.button-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    margin: 20px auto;
}

button {
    display: block;
    margin-top: 8px;
    padding: 8px;
    background: #E4D8B4;
    color: #272324;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #E2CD6D;
    transition: all 200ms ease;
}